table {
    border: 1px solid black;
}
td {
    border: 1px solid black;
    border-radius: 10px;
    height: 140px;
    width: 140px;
    text-align: center;
    font-size: 12px;
}
.desc {
    font-size: 12px;
}
.title {
    font-size:16px;
    font-weight:bolder;
}