body,html {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow:hidden;
}
#transition {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow:hidden;
    background: black;
    display: none;
    opacity: 0;
    transition: 0.5s ease-in-out;
    z-index: 99 !important;
}
* {
    font-family: 'Georgia';
}
/* GAME MENU */
#menu {
    background-image: url('img/background/woodbackground.png');
    width: 100vw;
    height: 100%;
    min-height: 100%;
    box-sizing:border-box;
    overflow: hidden;
    background-size: 100%;
    transition: opacity 0.2s ease-in-out;
}
#background {
}
#gametitle {
    text-align: center;
    font-size:60px;
}
#modes, #startingmods {
    width: 80%;
    opacity: 0;
    height: 80%;
    flex-wrap:wrap;
    top: 50%;
    background: cadetblue;
    left: 50%;
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in-out;
}
.modes, .startmods {
    background-color: #f1f1f1;
    height: 70%;
    margin-right: 2%;
    margin-left: 2%;
    display: inline;
    padding: 2%;
    width: 14%;
    text-align: center;
}
.modes, .startmods > p {
    font-size: 12px;
    text-align: left;
}
.modes > h2 {
    font-size: 24px;
}
.startmods > h2 {
    font-size: 24px;
}
@font-face {
    font-family: 'CabinSketch';
    src: url('misc/fonts/CabinSketch.ttf') format('opentype');
}
#play {
    width: 230px;
    height: 80px;
    border-radius: 15px;
    background: rgb(61, 105, 187);
    border: 2px solid black;
    font-size: 43px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(15, 33, 68);
    transition: 0.2s ease-in-out;
}
#play:hover {
    width: 250px;
    height: 87px;
    font-size:49px;
}
#game {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
/* ADVENTURE SCREEN */
#adventure {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    opacity: 0;
    overflow-x: hidden;
    transition: opacity 0.2s ease-in-out;
}
.asplit {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    
}
/* width */
::-webkit-scrollbar {
width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}
#a1 {
    left: 0;
    border-right:1px solid black;
    
}
#a1 :not(hr){
    padding-left: 5px;
    box-sizing: border-box;
}
#a2 {
    right: 0;
    border-left: 1px solid black;
    padding-left: 5px;
    box-sizing: border-box;
    overflow: auto;
}
#a2 > h1 {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
#special, #special2 {
    width: 100%;
    height: 80%;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: white;
}
#special > h2, #special2 > h2 {
    color: black;
    margin: 8px;
    font-size: 40px;
}
.widediv {
    width: 100%;
    height: 10%;
}
.specialcard {
    background:cadetblue;
    border: 2px solid black;
    border-radius: 15px;
    height: 24%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 16px;
    padding: 2%;
    width: 90%;
    text-align: center;
    transition: border 0.4s ease-in-out;
}
.specialcard > h2, p {
    margin: 0;
}
.specialcard > h2 {
    font-size: 21px;
}
@media (max-width: 1000px) {
    .modes, .startmods {
    
        height: 13%;
        width: 70%;
        margin-top: 1.5%;
        margin-bottom: 1.5%;        
    }
    .modes > h2, .startmods > h2 {
        font-size: 18px;
        margin: 0 !important;
    }
    .specialcard > h2{
        font-size: 18px;
    }
    .specialcard > p {
        font-size: 13px;
    }
}
/* OTHER */
.tooltipholder {
    display: inline-block;
}
.tooltip {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    /* Position the tooltip */
   
}
.tooltipholder:hover .tooltip {
    visibility: visible;
}
/* BATTLE */
table {
    border: 1px solid black;
    border-spacing: 5px;
}
td {
    border: 1px solid black;
    border-radius: 10px;
    height: 160px;
    width: 140px;
    text-align: center;
    font-size: 12px;
    transition: border 0.1s ease-in-out;
    background-blend-mode: multiply;
}
.desc {
    font-size: 12px;
}
.title {
    font-size:16px;
    font-weight:bolder;
}
/*#c1 {
    background-image:url("img/cards/solarprism.png");
    background-size: 140px 160px;
}*/
hr {
    border: 1px solid black;
}
.inventorytablecard {
    border: 2px solid black;
    transition: 0.5s ease-in-out;
}
.inventorytablecard:hover {
    border: 6px solid black;
}
.modal-overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
 
.modal-wrapper {
    /*width: 600px;
    height: 500px;*/
    height: 90%;
    width: 90%;
    background: ghostwhite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y:scroll;
    word-wrap:break-word;
}
 
/*.open-modal-btn-wrapper {
    yes
}*/
 
.close-modal-btn,
.open-modal-btn {
    padding: 8px;
    background: slateblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid black;
    border-radius: 7px;
    font-size: 15px;
    color: ghostwhite;
    font-weight: 5px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}
 
.close-btn-wrapper {
    display: flex;
}
 
.modal-content {
    margin: 20px auto;
    /*height: 480px;
    width: 570px;*/
    height: 90%;
    width: 90%;
}
 
.hide {
    display: none;
}
.div {
    position: relative;
}
button {
    border-radius: 5px;
    border: 1.5px solid black;
    background: #fff;
    transition: 0.2s ease-in-out;
}
button:hover {
    background: rgb(200,200,200);
}